@media screen and (max-width: 1024px) {
	html {
		font-size: 55%; } }

@media screen and (max-width: 940px) {
	html {
		font-size: 50%; } }

@media screen and (max-width: 768px) {
	html {
		font-size: 45%; } }
