*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

.clearfix, .clearfix:after {
	clear: both; }

html, body {
	float: none !important;
	margin: 0;
	padding: 0; }

a, a:hover, a:focus {
	text-decoration: none !important; }

input, textarea, select, button {
	outline: 0; }

textarea {
	resize: none; }

.uk-close {
	position: absolute;
	top: -14px;
	right: -14px;
	margin: 0 !important; }

.uk-modal-dialog {
	max-width: 85%; }

img {
	max-width: 100%;
	height: auto; }

.dspiblock {
	display: inline-block; }

.dspblock {
	display: block; }

.dsptable {
	display: table !important; }

.dsptcell {
	display: table-cell !important;
	float: none !important;
	vertical-align: middle !important; }

.left {
	float: left !important; }

.right {
	float: right !important; }

.text-left {
	text-align: left; }

.text-right {
	text-align: right; }

.text-center {
	text-align: center; }

.text-justify {
	text-align: justify; }

.row {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px; }
	.row:before, .row:after {
		content: ' ';
		display: table; }

.row-no-margin {
	margin: 0 auto;
	padding: 0px;
	width: 100%;
	max-width: 1920px;
	display: table; }

.centered {
	display: table;
	margin: 0 auto;
	float: none; }

.upper {
	text-transform: uppercase; }

.mtop0 {
	margin-top: 0px; }

.mbot0 {
	margin-bottom: 0px; }

.mleft0 {
	margin-left: 0px; }

.mright0 {
	margin-right: 0px; }

.pdtop0 {
	padding-top: 0px; }

.pdbot0 {
	padding-bottom: 0px; }

.pdleft0 {
	padding-left: 0px; }

.pdright0 {
	padding-right: 0px; }

.mtop10 {
	margin-top: 10px; }

.mbot10 {
	margin-bottom: 10px; }

.mleft10 {
	margin-left: 10px; }

.mright10 {
	margin-right: 10px; }

.pdtop10 {
	padding-top: 10px; }

.pdbot10 {
	padding-bottom: 10px; }

.pdleft10 {
	padding-left: 10px; }

.pdright10 {
	padding-right: 10px; }

.mtop20 {
	margin-top: 20px; }

.mbot20 {
	margin-bottom: 20px; }

.mleft20 {
	margin-left: 20px; }

.mright20 {
	margin-right: 20px; }

.pdtop20 {
	padding-top: 20px; }

.pdbot20 {
	padding-bottom: 20px; }

.pdleft20 {
	padding-left: 20px; }

.pdright20 {
	padding-right: 20px; }

.mtop30 {
	margin-top: 30px; }

.mbot30 {
	margin-bottom: 30px; }

.mleft30 {
	margin-left: 30px; }

.mright30 {
	margin-right: 30px; }

.pdtop30 {
	padding-top: 30px; }

.pdbot30 {
	padding-bottom: 30px; }

.pdleft30 {
	padding-left: 30px; }

.pdright30 {
	padding-right: 30px; }

.mtop40 {
	margin-top: 40px; }

.mbot40 {
	margin-bottom: 40px; }

.mleft40 {
	margin-left: 40px; }

.mright40 {
	margin-right: 40px; }

.pdtop40 {
	padding-top: 40px; }

.pdbot40 {
	padding-bottom: 40px; }

.pdleft40 {
	padding-left: 40px; }

.pdright40 {
	padding-right: 40px; }

.mtop50 {
	margin-top: 50px; }

.mbot50 {
	margin-bottom: 50px; }

.mleft50 {
	margin-left: 50px; }

.mright50 {
	margin-right: 50px; }

.pdtop50 {
	padding-top: 50px; }

.pdbot50 {
	padding-bottom: 50px; }

.pdleft50 {
	padding-left: 50px; }

.pdright50 {
	padding-right: 50px; }

.mtop60 {
	margin-top: 60px; }

.mbot60 {
	margin-bottom: 60px; }

.mleft60 {
	margin-left: 60px; }

.mright60 {
	margin-right: 60px; }

.pdtop60 {
	padding-top: 60px; }

.pdbot60 {
	padding-bottom: 60px; }

.pdleft60 {
	padding-left: 60px; }

.pdright60 {
	padding-right: 60px; }

.mtop70 {
	margin-top: 70px; }

.mbot70 {
	margin-bottom: 70px; }

.mleft70 {
	margin-left: 70px; }

.mright70 {
	margin-right: 70px; }

.pdtop70 {
	padding-top: 70px; }

.pdbot70 {
	padding-bottom: 70px; }

.pdleft70 {
	padding-left: 70px; }

.pdright70 {
	padding-right: 70px; }

.mtop80 {
	margin-top: 80px; }

.mbot80 {
	margin-bottom: 80px; }

.mleft80 {
	margin-left: 80px; }

.mright80 {
	margin-right: 80px; }

.pdtop80 {
	padding-top: 80px; }

.pdbot80 {
	padding-bottom: 80px; }

.pdleft80 {
	padding-left: 80px; }

.pdright80 {
	padding-right: 80px; }

.mtop90 {
	margin-top: 90px; }

.mbot90 {
	margin-bottom: 90px; }

.mleft90 {
	margin-left: 90px; }

.mright90 {
	margin-right: 90px; }

.pdtop90 {
	padding-top: 90px; }

.pdbot90 {
	padding-bottom: 90px; }

.pdleft90 {
	padding-left: 90px; }

.pdright90 {
	padding-right: 90px; }

.mtop100 {
	margin-top: 100px; }

.mbot100 {
	margin-bottom: 100px; }

.mleft100 {
	margin-left: 100px; }

.mright100 {
	margin-right: 100px; }

.pdtop100 {
	padding-top: 100px; }

.pdbot100 {
	padding-bottom: 100px; }

.pdleft100 {
	padding-left: 100px; }

.pdright100 {
	padding-right: 100px; }

.fsize11 {
	font-size: 11px; }

.fsize14 {
	font-size: 14px; }

.fsize16 {
	font-size: 16px; }

.fsize18 {
	font-size: 18px; }

.fsize22 {
	font-size: 22px; }

.fsize24 {
	font-size: 24px; }
